{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <h3 class="text-success fs-3 fw-bold mb-3 text-center" >Supplements To Prevent The Leaf Disease : </h3>
        {% for data in supplement_data %}
        <div class="col-sm pt-5 p-2 d-flex justify-content-center">
            <div class="card h-100" style="width: 15rem;">
                <img src="{{ data['supplement_img'] }}" class="card-img-top img2" alt="{{ data['supplement'] }}"> 
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-success-emphasis fs-5 fw-medium">{{ data['supplement'] }}</h5>
                    <a href="{{ data['supplement_prod_link'] }}" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<br>
</div>

<div class="footer-basic">
    <footer>
        <center>
        <div style="padding: 5;">
            <a target="_blank" href='https://github.com/Abhi-vish'><img src="static\img\github-mark-white.png" height="40" width="40"></a>&nbsp
        </div>
        </center>
        <br>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item laptop"><a href="/index">AI Engine</a></li>
        </ul>
        <p class="copyright">Created by T3-AIDS-07</p>
        <p class="copyright">Copyright © [AIDS-Branch] [2023(s)]. All rights reserved.</p>
    </footer>
</div>
{% endblock %}
